<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Image Prediction Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/app.js}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Image Prediction Dashboard</h1>
        <p>Predicting image classes with a simple click</p>
    </div>
    <div class="controls">
        <div style="display: flex; justify-content: flex-end; gap: 15px; align-items: center; margin-bottom: 20px;">

            <!-- Refresh Button -->
            <form method="get" action="/index" class="refresh-form">
                <button type="submit" style="padding: 6px 12px;">🔄 Refresh</button>
                <input type="hidden" name="page" value="0"/>
                <label style="padding-left:20px">Show
                    <select name="size" onchange="this.form.submit()">
                        <option th:each="s : ${pageSizes}"
                                th:value="${s}"
                                th:text="${s}"
                                th:selected="${s == pageSize}">
                        </option>
                    </select> entries
                </label>
            </form>
        </div>

    </div>
    <p style="color:green">Total Records: <span th:text="${totalRecords}"></span></p>

    <!-- Data Table -->
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Predict</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="img, iterStat : ${images}">
            <td th:text="${iterStat.index + 1}"></td>
            <td><img th:src="@{${img.imagePath}}" alt="@{${img.imagePath}}" style="width: 100px;"></td>
            <td>
                <button type="button"
                        th:attr="onclick=|predict(this, '${img.imagePath}')|">
                    Predict
                </button>
            </td>
            <td>
        <span th:attr="id='result-' + ${#strings.replace(#strings.replace(img.imagePath, '/', '_'), '.', '_')}"
              th:text="${img.prediction != null ? img.prediction : '--'}">
        </span>
            </td>
        </tr>
        </tbody>

    </table>

    <br>
    <!-- Pagination -->
    <div class="pagination">
        <span th:if="${currentPage > 0}">
            <a th:href="@{/index(page=${currentPage - 1}, size=${pageSize})}">Previous</a>
        </span>

        <span th:each="i : ${paginationRange}">
            <span th:if="${i == -1 || i == -2}">...</span>
            <a th:if="${i >= 0}"
               th:href="@{/index(page=${i}, size=${pageSize})}"
               th:text="${i + 1}"
               th:classappend="${i == currentPage} ? 'active' : ''">
            </a>
        </span>

        <span th:if="${currentPage + 1 < totalPages}">
            <a th:href="@{/index(page=${currentPage + 1}, size=${pageSize})}">Next</a>
        </span>
    </div>

    <br> <br>
</div>

</body>
</html>
